---
layout: default
---

<div id="front-wrapper">
  <div id="hero">
    <div id="hero-inner" class="container">
      {% include custom/hero.html %}
    </div>
  </div>
  <section id="sub-hero">
    <div class="container">
      {% include custom/navigation.html %}
    </div>
  </section>
  <div class="container">
	<div class="row">
		<h2 id="auto_tirisana">auto salona ķīmiskā tīrīšana</h2>
		<ul>
			<li>profesionāla auto salona ķīmiskā tīrīšana ar augstspiediena iekārtu "Tornador"
		</ul>
		<div class="image-container">
			<div class="image">
				<iframe width="420" height="315" src="http://www.youtube.com/embed/H77x5ub8zlw" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
		<div class="image-container">
			<div class="image">
				<img src="https://lh4.googleusercontent.com/-054cOPwyuEU/UM2qHsh9yNI/AAAAAAAAADs/icJYB8hyDQo/s500/passat_griesti.jpg" alt="Auto salonu tīrīšana">
			</div>
			<div class="image">
				<img src="https://lh3.googleusercontent.com/-3FBN4JrfmLY/UM2qHkW4g0I/AAAAAAAAAD0/3wFP3qQ670w/s500/passat_salons.jpg" alt="Auto salonu tīrīšana">
			</div>
			<div class="image">
				<img src="https://lh6.googleusercontent.com/-M0uPWbyqo44/UM2mobbC_dI/AAAAAAAAACc/mR2a2KBns74/s500/auto4.jpg" alt="Auto salonu tīrīšana">
			</div>
			<div class="image">
				<img src="https://lh3.googleusercontent.com/-Pf4reopPaSA/UM2moFX0ikI/AAAAAAAAACY/c_7y1H6g5N8/s500/auto3.jpg" alt="Auto salonu tīrīšana">
			</div>
		</div>
	</div>	<div class="row">
		<h2 id="uzkopsana">uzkopšana</h2>
		<ul>
			<li>ģenerālā tīrīšana no 0,70 līdz 1,50Ls m2
			<li>biroju telpu uzkopšana, māju un dzīvokļu tīrīšana no 0,25Ls/ m2
		</ul>
		<div class="image-container">
			<div class="image">
				<img src="https://lh5.googleusercontent.com/-vEXfldgD3HY/UM2qHjeu50I/AAAAAAAAADw/znnTIBSZxgM/s500/linoleja_tirisana.jpg" alt="Linoleja tīrīšana">
			</div>
		</div>
	</div>
	<div class="row">
		<h2 id="mebelu_tirisana">mēbeļu tīrīšana</h2>
		<ul>
			<li>mēbeļu ķīmiskā tīrīšana – krēsls 1-2Ls/gab.
			<li>klubkrēsls no 2 līdz 5Ls/gab.
			<li>dīvāns no 12 līdz 40Ls/gab.
			<li>stūra dīvāns no 25 līdz 60Ls/gab.
			<li>paklāju tīrīšana no 0,90 līdz 2,7Ls m2
		</ul>
	</div>
    <div class="row">
		<h2 id="logu_mazgasana">logu mazgāšana</h2>
		<ul>
			<li>veramie logi no 0,45 līdz 0,90Ls m2
			<li>neveramie logi, vitrīnas, stikla fasādes no 0,20 lidz 0,80Ls m2
		</ul>
		<div class="image-container">
			<div class="image">
				<img src="https://lh6.googleusercontent.com/-QStbLeufnx8/UM2mpTNoZFI/AAAAAAAAAC0/hqRUL2MmQCw/s500/pec_remonta1.jpg" alt="Logu mazgāšana pēc remonta">
			</div>
			<div class="image">
				<img src="https://lh3.googleusercontent.com/-ZC6-nc1NRAA/UM2mqEkmt6I/AAAAAAAAAC8/iJD57ZdnV7Q/s500/pec_remonta2.jpg" alt="Logu mazgāšana pēc remonta">
			</div>
			<div class="image">
				<img src="https://lh3.googleusercontent.com/-G_8DgWviZbs/UM2moq1K4ZI/AAAAAAAAACg/HSTJwqOBg6g/s500/logu_mazgasana_nepieejama.jpg" alt="Logu mazgāšana grūti pieejamās vietās">
			</div>
		</div>
    </div>
    <div class="row">
		<h2 id="citi_pakalpojumi">citi pakalpojumi</h2>
		<ul>
			<li>sniega tīrīšana no jumtiem no 0,30Ls/ m2
			<li>grīdas vaskošana un segumu atjaunošana (lamināts, parkets, linolejs utt..) 0,7 līdz 1,5Ls/ m2
			<li>zālāju pļaušana (ar traktoru, trimmeri vai pļaujmašīnu): cena pēc vienošanās
		</ul>
    </div>
	    <div class="row">
		<h2 id="kontakti">kontakti</h2>
		    <p>
                <strong>Jānis Krivtežs</strong><br>
                <em>valdes loceklis</em>
            <p>
                <small>SIA</small> Teirs<br>
                Maskavas 22, Rēzekne,<br>
                LV-4604<br>
                Mob.tālr.: +371 28321856<br>
                e-mail: teirslg@gmail.com
			<p>
				Atbildēsim uz Jūsu jautājumiem un pasūtījumus piesakiet katru dienu no plkst. 8:00 – 22:00, 
				šajā laikā speciālists bez maksas ieradīsies objektā, lai novērtētu nepieciešamo darba apjomu, 
				termiņus un cenu. Bet mūsu serviss pašus uzkopšanas un tīrīšanas darbus Jums nodrošinās 24h diennaktī.
			<p>
				* Minimālā izbraukuma maksa 15,00Ls<br />
				* Visas cenas norādītas bez PVN.
            </p>
    </div>
  </div>
</div>

