---
layout: default
---

<div id="front-wrapper">
  <div id="hero">
    <div id="hero-inner" class="container">
      {% include custom/hero.html %}
    </div>
  </div>
  <section id="sub-hero">
    <div class="container">
      {% include custom/navigation.html %}
    </div>
  </section>
  <div class="container">
    <div class="row">
		<h2><a id="logu_mazgasana">logu mazgāšana</a></h2>
		<ul>
			<li>veramie logi no 0,45 līdz 0,90Ls m2
			<li>neveramie logi, vitrīnas, stikla fasādes no 0,20 lidz 0,80Ls m2
		</ul>
		<div class="image">
		<img src="/images/logu_mazgasana1.jpg" alt="Logu mazgāšana grūti pieejamās vietās">
		</div>
    </div>
    <div class="row">
		<h2><a id="mebelu_kimiska">mēbeļu ķīmiskā tīrīšana</a></h2>
		<ul>
			<li>mēbeļu ķīmiskā tīrīšana – krēsls 1-2Ls/gab.
			<li>klubkrēsls no 2 līdz 5Ls/gab.
			<li>dīvāns no 12 līdz 40Ls/gab.
			<li>stūra dīvāns no 25 līdz 60Ls/gab.
		</ul>
    </div>
  </div>
</div>

