// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body {
  font-family: "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;
  font-size: 16px;
}
#hero {
  height: 200px;
}
#hero-inner {
  margin-top:0px;
}
#front-wrapper {
  margin-top: 300px;
}
#sub-hero {
 
}
.image img {
  max-width:500px;
}
h2 {
  font-weight: 100;
}
nav {
  font-size:30px;
  font-weight: 100;
}
nav ul li {
  display:block;
  float:left;
  margin-right: 24px;
}