// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
body {
  font-family: "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;
  font-size: 16px;
}
#hero {
  height: 250px;
  padding: 15px;
}
#hero-inner {
  /*margin-top:0px;*/
}
#front-wrapper {
  margin-top: 240px;
}
.image img {
  max-width:500px;
  float:left;
  margin-right: 20px;
}
h2 {
  font-weight: 100;
  color: #08C;
}
nav {
  font-size:30px;
  font-weight: 100;
}
nav ul li {
  display:block;
  float:left;
  margin-right: 24px;
}
.offset1 {
  margin-left: 0px;
}